.loginCenterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  .authContteiner {
    background: none !important;
    justify-content: space-between !important;
    width: 50vw;
    min-width: 700px;
    min-height: 70vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: fit-content;
    background-color: #646464;
    padding: 15px;
    border-radius: 50px;
    .submit {
      width: fit-content;
      background: rgba(85, 85, 85, 0.5);
    }

    .logInCont {
      width: 50%;
      background-color: gray;
      height: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px;
    }
    .RegistrationCont {
      background-color: gray;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;

      border-top-right-radius: 45px;
      border-bottom-right-radius: 45px;
    }
    .Curtain {
      width: 50vw;
      min-width: 700px;
      min-height: 70vh;
      max-height: 70vh;
      max-width: 700px;
      height: 70vh;
      position: absolute;
      transition: all ease 0.5s;
      background-image: url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_1280.jpg);
      background-color: #646464;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 5;
      overflow: hidden;
      div {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 34%,
          rgb(128, 128, 128) 45%,
          rgb(128, 128, 128) 55%,
          rgba(0, 0, 0, 0) 70%,
        );
        background-size: 200% 100%;
        transform: translateX(-11px) translateY(-11px);
      }
      width: 25%;
      min-width: 340px;
      div {
        height: 100%;
        width: 300%;
        padding: 15px;
        transition: all 0.5s ease;
      }
    }
  }
}
.AuthForm {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1{
    font-size: 30px;
  }
  div label {
    display: flex;
    flex-direction: column;
  }
  input {
    background-color: #646464;
    outline: none;
    border: none;
    border-radius: 50px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    &::placeholder {
      @include textformat(130%, 700, 10px, hsl(0, 0%, 20%));
      font-size: 20px;
    }
  }
}

.submit {
  @include textformat(27px, 700);
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 40%;
  height: 50px;

  &:focus {
    background: rgba(217, 217, 217, 0.5);
  }
}
.excuseText {
  font-size: 30px;
  color: rgb(148, 148, 148);
}
.switch {
  width: fit-content;
  background: rgba(85, 85, 85, 0.5);
  background-color: transparent !important;
  text-decoration: underline;
}

.aucont {
  justify-content: space-between;
  width: 50%;
}
