.checkList {
    padding: 50px;
    color: #bfbfbf;
   
}
.checkLisList{
    color: #bfbfbf;
   
}
.caption{
    color: #bfbfbf;
    font-size: 30px;
}
.checkLi{
    color: #bfbfbf;
    font-size: 25px;

}
.spbtw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contic{
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
