* {
  @include textformat();

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  scroll-behavior: smooth;
}
.homePageNavbarConteiner {
  @include flex(row);
  overflow: hidden;

  .leftHomePageNavbar {
    width: 15%;
    min-width: 220px;
    height: 100vh;
    overflow: hidden;
    @include flex(column, none);

    .profile {
      width: 100%;
      background-color: $gray;
      padding-top: 30px;

      .profileImgConteiner {
        @include flex(center, center, flex-end);
        padding: 10px;
        .profileImg {
          @include flex(column, flex-end);
          border-radius: 50%;
          height: 170px;
          width: 170px;
          min-width: 170px;
          min-height: 170px;
          background-color: $darkgray;
          overflow: hidden;
        }
      }

      .profileEmail {
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        margin: 0;
      }
    }

    .scrollpanel {
      background-color: $gray;
      border-top: solid 10px $lighterdarkgray;
      width: 100%;
      flex: 1;
      position: sticky;
      overflow-x: hidden;
      overflow-y: auto;
      .innerdivider {
        background-color: $lighterdarkgray ;
        border-top: $lighterdarkgray 5px solid;
        border-bottom: $lighterdarkgray 5px solid;
      }

      * {
        text-decoration: none !important;
      }
      .listOfFiles {
        background-image: url(../assetModules/svgs/penAndLineSvg.svg);
        background-repeat: no-repeat;
        background-size: 170%;

        background-position: right;
        min-height: 200px;
      }
      .listOfSettings {
        background-image: url(../assetModules/svgs/gearSvg.svg);
        background-repeat: no-repeat;
        background-size: 150% 150%;
        background-position: center right;
      }
      .listOfFiles,
      .listOfSettings {
        user-select: none;
        height: fit-content;
        transition: all 0.5s ease;
        scroll-snap-type: y mandatory;
        max-height: 600px;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }

        .activeNav .FileInNavbar {
          background-color: $activeFileInNav;

          p {
            color: $fileIconbg;
          }
        }

        .inactiveNav .FileInNavbar p {
          text-decoration: none;
        }

        .FileInNavbar {
          @include flex(row, space-between);
          box-sizing: border-box;
          border-top: $lighterdarkgray 5px solid;
          border-bottom: $lighterdarkgray 5px solid;
          background-color: $inactiveFileInNav;
          height: 100px;
          min-width: 250px;
          padding: 0 10% 0 15%;

          .textInFileInNavbar {
            @include textformat(25px, 700, 50px);
            text-decoration: none !important;
          }
        }
      }
    }
  }

  .rightHomePage {
    @include flex(column);
    align-items: flex-start;
    width: 85%;
    height: 100vh;

    .desktopWithFilesbgbg {
      overflow-y: auto;
      width: 100%;
      height: 100%;
      @include flex(row);
      background-color: $gray;

      .scroll {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        border-top-left-radius: 50px;
        background-color: $darkgray;


        .desktopWithFiles {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          overflow: auto;
          width: 89%;
          border-top-left-radius: 50px;
          background-color: $darkgray;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(6, 180px);
          gap: 60px;
          padding: 3% 12% 5% 3%;

          .fileIconConteiner {
            user-select: none;
            height: 170px;
            width: 200px;
            background-color: $fileIconbg;
            border-radius: 20px;
            padding: 10px;
            transition: 0.4s all ease;
            animation: appear 0.6s ease-out;

            &:hover {
              transform: scale(1.1);
            }

            .fileIconName {
              @include textformat(130%, 700, 30px, hsl(0, 0%, 20%));
              height: 40px;
              padding: 0;
              margin: 0;
            }

            .fileIconType {
              @include textformat(100%, 700, 10px);
            }

            &:hover {
              transform: scale(1.04);
            }
          }

          .addFile {
            background: $AddFilebg;
            animation: appear 0.6s ease-out;
            cursor: pointer;

            .upperside {
              @include flex(row, space-between, flex-start);
              width: 100%;
              .fileIconName {
                @include textformat(30px, 700, 30px, hsl(0, 0%, 20%));
                padding-top: 10px;
              }
            }

            form {
              @include flex(column, space-around, flex-start);
              height: 70%;

              .submit {
                @include textformat(27px, 700);
                background: rgba(217, 217, 217, 0.5);
                border-radius: 20px;
                outline: 0;
                border-width: 0;
                width: 40%;
                height: 50px;

                &:focus {
                  background: rgba(217, 217, 217, 0.5);
                }
              }

              .fileType {
                @include flex(row, space-between);
                background: rgba(217, 217, 217, 0.5);
                border-radius: 20px;
                outline: 0;
                border-width: 0;
                width: 70%;
                height: 50px;
                padding-left: 20px;
                @include textformat(27px, 700);

                &::after {
                  content: none !important;
                }

                .dropdown {
                  width: 70%;

                  .btn-secondary.dropdown-toggle {
                    width: 70%;
                  }
                }
              }

              .fileName {
                @include textformat(27px, 700);
                background: rgba(217, 217, 217, 0.5);
                border-radius: 20px;
                outline: 0;
                border-width: 0;
                width: 70%;
                height: 50px;
                padding-left: 20px;

                &::placeholder {
                  @include textformat(27px, 700);
                }
              }
            }
          }
        }
      }
    }

    .upperRightHomePageNavbar {
      @include flex(row, space-between);
      user-select: none;
      height: 10%;
      background-color: $gray;
      width: 100%;

      .upperRightRightsectionHomePageNavbar {
        @include flex(row, space-between);
        padding-right: 10px;
        width: 450px;
        height: 100%;
        transition: all ease 1s;

        div {
          height: min-content;
          @include flex(row, flex-start, center);
        }
      }
    }
  }
}

.Name {
  font-size: 30px;
  text-decoration: none;
}

.selectCircle {
  @include flex(row, center !important, center);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid rgb(46 46 46) 7px;
  box-sizing: border-box;
  transition: all ease 0.2s;
  color: $navbg;
  font-weight: 700;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.hoverSvg {
  cursor: pointer;

  * {
    transition: 0.2s all ease;
  }

  &:hover {
    *:not(.excluded) {
      border: $hoversvg;
      fill: $hoversvg;
    }
  }
}
