.texarea{
    color: #bfbfbf;
    transition: all ease 1s;
    padding: 20px;
    font-size: 25px;
    resize: none;
    outline: none;
    background-color: transparent;
    display: block;
    width: 90%;
    height: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    white-space: pre-wrap;
    outline: none;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    border-width: 0px;
    &:focus{
        border: 0px;
        outline: none;
        resize: none;
        border: 0px;
    }
    &:active{
        border: 0px;
        outline: none;
        resize: none;
        border: 0px;
    }
    &:disabled{
        border: 0px;
        outline: none;
        resize: none;
        border: 0px;
    }
}