.Settings {
  padding: 20px;
  scroll-snap-type:none;
  
}
.Settings {
  * {
    @include textformat(25px, 700, normal, $textlightcolor !important);
  }
  .hr{
    border: 0;
    height: 5px;
transform: scaleX(2);
    background-color: $textlightcolor;
    opacity: 50%;
  }
  .settingsSection{
    padding-top: 50px;
    padding-bottom:50px ;
    padding-left: 50px;
  }


}


.marker::before {
  content: "✔ "; /* Ви можете використовувати будь-який символ або навіть юнікод */
  color: gray; /* Колір маркера */
  font-weight: bold;
}

.passwordChange {
  input[type="password"] {
    -webkit-text-security: disc; /* Змінює символи на кружечки */
    font-size: 20px; /* Змінює розмір зірочок або кружечків */
    color: red; /* Змінює колір символів у Safari */
    .password-input::placeholder {
      color: red; /* Стиль для тексту-підказки */
    }
  }
}

.inputpas {
   /* Змінює символи на кружечки */
  font-size: 20px; /* Змінює розмір зірочок або кружечків */
  color: #424242 !important; /* Змінює колір символів у Safari */
  .password-input::placeholder {
    color: red; /* Стиль для тексту-підказки */
  }
}

