*{
font-size: 20px;


}
.conteiner{
    padding: 20px;

}
.table{
    .talbetextarea{
        height: 50px;
        width: 120px;
        margin: 0px;
        padding: 10%;
        
    }
    .tableCell{
        display: flex;
        align-items: center;
        width: 180px;
        justify-content: center;
        height: 100%;
    }
    .line{
        width: 5px;
        background-color: gray;
        transform-origin: left top;
        
    }
   
}
.table *{
    color:#bfbfbf;
    font-size: 25px;
}
.td{
    display: flex;
    align-items: center;
    justify-content: center;
}

