$gray: #d9d9d980;
$fileIconbg: rgb(217, 217, 217);
$darkgray: #1e1e1e;
$navbg: #7c7c7c;
$darkgrayhover: #1c1c1c;
$coolcolor: #123123;
$activeFileInNav: hsla(0, 0%, 34%, 0.714);
$inactiveFileInNav: #a0a0a0b2;
$graytext: #424242;
$lighterdarkgray: #b1b1b1;
$AddFilebg: #868686;

$hoversvg: #474747;
$textlightcolor: #bfbfbf;

@mixin flex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin textformat(
  $font-size: 27px,
  $font-weight: 700,
  $line-height: normal,
  $color: $graytext
) {
  font-family: "Kadwa";
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.scroll-container {
  overflow: visible !important;
  text-wrap: nowrap !important;
  width: fit-content !important;
  /* Project */
  line-height: 50px;
  white-space: nowrap; /* Не дозволяє тексту переходити на новий рядок */
  display: inline-block; /* Не дозволяє займати всю ширину */
  white-space: nowrap; /* Не дозволяє тексту переходити на новий рядок */
  width: fit-content; /* Можна задати конкретну ширину, якщо потрібно */
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

