@charset "UTF-8";
.scroll-container {
  overflow: visible !important;
  text-wrap: nowrap !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  /* Project */
  line-height: 50px;
  white-space: nowrap; /* Не дозволяє тексту переходити на новий рядок */
  display: inline-block; /* Не дозволяє займати всю ширину */
  white-space: nowrap; /* Не дозволяє тексту переходити на новий рядок */
  width: fit-content; /* Можна задати конкретну ширину, якщо потрібно */
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.centerDiv * {
  text-align: center;
  color: rgb(211, 211, 211);
}

.penSvg {
  position: relative; /* Необхідно для правильного позиціонування псевдоелемента */
  display: inline-block;
  cursor: pointer; /* Щоб підказка виглядала як інтерактивний елемент */
}

.penSvg::after {
  content: "Edit"; /* Текст підказки */
  position: absolute;
  bottom: 100%; /* Розташовує підказку над SVG */
  left: 50%;
  transform: translateX(-50%); /* Вирівнює підказку по центру */
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap; /* Забезпечує, щоб текст не перетворювався на декілька рядків */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s; /* Плавний перехід */
}

.penSvg:hover::after {
  opacity: 1;
  visibility: visible;
}

* {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.homePageNavbarConteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.homePageNavbarConteiner .leftHomePageNavbar {
  width: 15%;
  min-width: 220px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile {
  width: 100%;
  background-color: rgba(217, 217, 217, 0.5019607843);
  padding-top: 30px;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileImgConteiner {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileImgConteiner .profileImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  min-width: 170px;
  min-height: 170px;
  background-color: #1e1e1e;
  overflow: hidden;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileEmail {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel {
  background-color: rgba(217, 217, 217, 0.5019607843);
  border-top: solid 10px #b1b1b1;
  width: 100%;
  flex: 1;
  position: sticky;
  overflow-x: hidden;
  overflow-y: scroll;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .innerdivider {
  background-color: #b1b1b1;
  border-top: #b1b1b1 5px solid;
  border-bottom: #b1b1b1 5px solid;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel * {
  text-decoration: none !important;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles {
  background-image: url(../assetModules/svgs/penAndLineSvg.svg);
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: right;
  min-height: 200px;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings {
  background-image: url(../assetModules/svgs/gearSvg.svg);
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: center right;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.5s ease;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles::-webkit-scrollbar,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .activeNav .FileInNavbar,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings .activeNav .FileInNavbar {
  background-color: hsla(0, 0%, 34%, 0.714);
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .activeNav .FileInNavbar p,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings .activeNav .FileInNavbar p {
  color: rgb(217, 217, 217);
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .inactiveNav .FileInNavbar p,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings .inactiveNav .FileInNavbar p {
  text-decoration: none;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .FileInNavbar,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings .FileInNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: #b1b1b1 5px solid;
  border-bottom: #b1b1b1 5px solid;
  background-color: rgba(160, 160, 160, 0.6980392157);
  height: 10vh;
  min-width: 250px;
  padding: 0 10% 0 15%;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .FileInNavbar .textInFileInNavbar,
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings .FileInNavbar .textInFileInNavbar {
  font-family: "Kadwa";
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
  color: #424242;
  line-height: 1;
  text-decoration: none !important;
}
.homePageNavbarConteiner .rightHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 85%;
  height: 100vh;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.5019607843);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  border-top-left-radius: 50px;
  background-color: #1e1e1e;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  width: 89%;
  border-top-left-radius: 50px;
  background-color: #1e1e1e;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 180px);
  gap: 60px;
  padding: 3% 12% 5% 3%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 170px;
  width: 200px;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s all ease;
  animation: appear 0.6s ease-out;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner:hover {
  transform: scale(1.1);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner .fileIconName {
  font-family: "Kadwa";
  font-size: 130%;
  font-weight: 700;
  line-height: 30px;
  color: hsl(0, 0%, 20%);
  height: 40px;
  padding: 0;
  margin: 0;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner .fileIconType {
  font-family: "Kadwa";
  font-size: 100%;
  font-weight: 700;
  line-height: 10px;
  color: #424242;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner:hover {
  transform: scale(1.04);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile {
  background: #868686;
  animation: appear 0.6s ease-out;
  cursor: pointer;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile .upperside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile .upperside .fileIconName {
  font-family: "Kadwa";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: hsl(0, 0%, 20%);
  padding-top: 10px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .submit {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 40%;
  height: 50px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .submit:focus {
  background: rgba(217, 217, 217, 0.5);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 70%;
  height: 50px;
  padding-left: 20px;
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType::after {
  content: none !important;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType .dropdown {
  width: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType .dropdown .btn-secondary.dropdown-toggle {
  width: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 70%;
  height: 50px;
  padding-left: 20px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName::-moz-placeholder {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName::placeholder {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 10%;
  background-color: rgba(217, 217, 217, 0.5019607843);
  width: 100%;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar .upperRightRightsectionHomePageNavbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 450px;
  height: 100%;
  transition: all ease 1s;
  gap: 20px;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar .upperRightRightsectionHomePageNavbar div {
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Name {
  font-size: 30px;
  text-decoration: none;
}

.selectCircle {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid rgb(46, 46, 46) 7px;
  box-sizing: border-box;
  transition: all ease 0.2s;
  color: #7c7c7c;
  font-weight: 700;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.hoverSvg {
  cursor: pointer;
}
.hoverSvg * {
  transition: 0.2s all ease;
}
.hoverSvg:hover {
  fill: aliceblue;
}
.hoverSvg:hover *:not(.excluded) {
  border-color: #474747 !important;
  fill: #474747 !important;
}

.ContainerOfNavbar {
  background-color: #313131;
  height: 100%;
  width: 100%;
  display: flex;
}
.ContainerOfNavbar .verticalNavbar {
  background-color: #313131;
  width: 15%;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}
.ContainerOfNavbar .verticalNavbar .menu {
  padding: 10px;
  height: 50%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
.ContainerOfNavbar .rightSideNavbar {
  width: 85%;
  height: 100%;
}
.ContainerOfNavbar .rightSideNavbar .upperRightNavbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.ContainerOfNavbar .rightSideNavbar .upperRightNavbar .nameOfFile {
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #a6a6a6;
  text-align: center;
}
.ContainerOfNavbar .rightSideNavbar .fileContent {
  font-size: 27px;
  color: #a6a6a6;
  height: 100%;
  border-top-left-radius: 50px;
  background-color: #a6a6a6;
  height: 100%;
  background-color: #1E1E1E;
  padding: 40px;
}

.texarea {
  color: #bfbfbf;
  padding: 20px;
  font-size: 25px;
  resize: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 90%;
  height: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  white-space: pre-wrap;
  outline: none;
  border-width: 0px;
}
.texarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.texarea:focus {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}
.texarea:active {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}
.texarea:disabled {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}

.todo {
  color: #bfbfbf;
  transition: all ease 1s;
  padding: 20px;
  font-size: 25px;
  width: 90%;
  height: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 90%;
  height: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.li * {
  color: #bfbfbf;
  transition: all ease 0.5s;
  font-size: 25px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.li {
  height: 80px;
  padding: 10px;
  color: #bfbfbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divdiv {
  display: flex;
  align-items: center;
  width: 50%;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #bfbfbf;
  border-radius: 50%;
}

.span {
  margin-left: 20px;
}

.checkList {
  padding: 50px;
  color: #bfbfbf;
}

.checkLisList {
  color: #bfbfbf;
  list-style-type: none;
}

.caption {
  color: #bfbfbf;
  font-size: 30px;
}

.checkLi {
  color: #bfbfbf;
  font-size: 25px;
}
.checkLi::before {
  content: "";
  display: flex;
  width: 0%;
  border-radius: 15px;
  height: 5px;
  background-color: gray;
  transition: all ease 0.5s;
  transform-origin: left;
}
.checkLi::after {
  content: "";
  width: 0%;
  display: flex;
  border-radius: 15px;
  height: 5px;
  background-color: gray;
  transition: all ease 0.5s;
  transform-origin: left;
}

.spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.doned {
  align-items: center !important;
}
.doned::before {
  content: "";
  display: flex;
  width: 100%;
  border-radius: 15px;
  height: 5px;
  background-color: gray;
  transition: all ease 0.5s;
  transform-origin: left;
}
.doned::after {
  content: "";
  width: 100%;
  display: flex;
  border-radius: 15px;
  height: 5px;
  background-color: gray;
  transition: all ease 0.5s;
  transform-origin: left;
}

* {
  font-size: 20px;
}

.conteiner {
  padding: 20px;
}

.table .talbetextarea {
  height: 50px;
  width: 120px;
  margin: 0px;
  padding: 10%;
}
.table .tableCell {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: center;
  height: 100%;
}
.table .line {
  width: 5px;
  background-color: gray;
  transform-origin: left top;
}

.table * {
  color: #bfbfbf;
  font-size: 25px;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  padding-bottom: 150px;
  overflow-y: scroll !important;
}
.dashboard::-webkit-scrollbar {
  width: 50px !important;
  height: 50px !important;
}
.dashboard .clockonConteiner {
  background-color: #acacac;
  display: flex;
  width: 650px;
  height: 300px;
  border-radius: 50px;
  padding: 20px;
  color: initial;
  justify-content: space-between;
  min-width: 40vw;
}
.dashboard .clockonConteiner .clockonConteinerInner {
  display: flex;
  flex-direction: column;
  width: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: space-between;
}
.dashboard .clockonConteiner .clockonConteinerInner .clockOn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  background-color: #313131;
  height: 190px;
  width: 190px;
  color: #acacac;
  transform: translateY(20px);
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule {
  display: flex;
  width: 320px;
  height: 70%;
  border-radius: 20px;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule .days {
  gap: 15%;
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule .days * {
  width: 15px;
  text-align: center;
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 90%;
  padding-left: 5%;
  gap: 10%;
  padding-bottom: 5%;
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv * {
  color: rgba(217, 217, 217, 0.5019607843);
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv .indicator {
  width: 25px;
  height: 15px;
  border-radius: 50%;
  background-color: darkgreen;
}
.dashboard .clockonConteiner .clockonConteinerInner .name {
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-overflow: ellipsis;
  color: #313131;
}

.fsb {
  display: flex;
  justify-content: space-between;
}

.fcsb {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(-20px);
}

.fe {
  display: flex;
  justify-content: flex-end;
}

.fileIconConteiner {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 176px;
  width: 220px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s all ease;
  animation: appear 0.6s ease-out;
}
.fileIconConteiner:hover {
  transform: scale(1.1);
}
.fileIconConteiner .fileIconName {
  font-size: 130%;
  line-height: 30px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  font-family: "Kadwa";
  font-weight: 700;
  color: hsl(0, 0%, 20%);
}
.fileIconConteiner .fileIconType {
  font-size: 85%;
  line-height: 10px;
}
.fileIconConteiner:hover {
  transform: scale(1.04);
}

.fileIconConteiner {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 170px;
  width: 200px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s all ease;
  animation: appear 0.6s ease-out;
}
.fileIconConteiner:hover {
  transform: scale(1.1);
}
.fileIconConteiner .fileIconName {
  font-family: "Kadwa";
  font-size: 130%;
  font-weight: 700;
  line-height: 30px;
  color: hsl(0, 0%, 20%);
  height: 40px;
  padding: 0;
  margin: 0;
}
.fileIconConteiner .fileIconType {
  font-family: "Kadwa";
  font-size: 100%;
  font-weight: 700;
  line-height: 10px;
  color: #424242;
}
.fileIconConteiner:hover {
  transform: scale(1.04);
}

.addFile {
  width: 250px;
  background: #868686;
  animation: appear 0.6s ease-out;
  cursor: pointer;
}
.addFile .upperside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.addFile .upperside .fileIconName {
  font-family: "Kadwa";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: hsl(0, 0%, 20%);
  padding-top: 10px;
}
.addFile form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%;
}
.addFile form .submit {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 40%;
  height: 50px;
}
.addFile form .submit:focus {
  background: rgba(217, 217, 217, 0.5);
}
.addFile form .fileType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 70%;
  height: 50px;
  padding-left: 20px;
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}
.addFile form .fileType::after {
  content: none !important;
}
.addFile form .fileType .dropdown {
  width: 70%;
}
.addFile form .fileType .dropdown .btn-secondary.dropdown-toggle {
  width: 70%;
}
.addFile form .fileName {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 70%;
  height: 50px;
  padding-left: 20px;
}
.addFile form .fileName::-moz-placeholder {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}
.addFile form .fileName::placeholder {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
}

.heightCont {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .dashboard {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    padding-bottom: 150px;
    overflow-y: scroll !important;
  }
  .dashboard::-webkit-scrollbar {
    width: 50px !important;
    height: 50px !important;
  }
  .dashboard .clockonConteiner {
    background-color: #acacac;
    display: flex;
    width: 650px;
    height: 300px;
    border-radius: 50px;
    padding: 20px;
    color: initial;
    justify-content: space-between;
    min-width: 40vw;
  }
  .dashboard .clockonConteiner .clockonConteinerInner {
    display: flex;
    flex-direction: column;
    width: 50%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    justify-content: space-between;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .clockOn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    background-color: #313131;
    transform: translateY(20px);
  }
  .dashboard .clockonConteiner .clockonConteinerInner .clockOn * {
    font-family: "Kadwa";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    color: #acacac;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule {
    display: flex;
    width: 320px;
    height: 70%;
    border-radius: 20px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule .days {
    gap: 15%;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule .days * {
    width: 15px;
    text-align: center;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv {
    display: flex;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 90%;
    padding-left: 5%;
    gap: 10%;
    padding-bottom: 5%;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv * {
    color: rgba(217, 217, 217, 0.5019607843);
  }
  .dashboard .clockonConteiner .clockonConteinerInner .schedule .alignedDiv .indicator {
    text-align: center;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background-color: darkgreen;
  }
  .dashboard .clockonConteiner .clockonConteinerInner .name {
    font-family: "Kadwa";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    color: #313131;
  }
  .fsb {
    display: flex;
    justify-content: space-between;
  }
  .fcsb {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-20px);
  }
  .fe {
    display: flex;
    justify-content: flex-end;
  }
  .fileIconConteiner {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    height: 176px;
    width: 220px;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 10px;
    transition: 0.4s all ease;
    animation: appear 0.6s ease-out;
  }
  .fileIconConteiner:hover {
    transform: scale(1.1);
  }
  .fileIconConteiner .fileIconName {
    font-size: 130%;
    line-height: 30px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    font-family: "Kadwa";
    font-weight: 700;
    color: hsl(0, 0%, 20%);
  }
  .fileIconConteiner .fileIconType {
    font-size: 85%;
    line-height: 10px;
  }
  .fileIconConteiner:hover {
    transform: scale(1.04);
  }
  .fileIconConteiner {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    height: 170px;
    width: 200px;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 10px;
    transition: 0.4s all ease;
    animation: appear 0.6s ease-out;
  }
  .fileIconConteiner:hover {
    transform: scale(1.1);
  }
  .fileIconConteiner .fileIconName {
    font-family: "Kadwa";
    font-size: 130%;
    font-weight: 700;
    line-height: 30px;
    color: hsl(0, 0%, 20%);
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .fileIconConteiner .fileIconType {
    font-family: "Kadwa";
    font-size: 100%;
    font-weight: 700;
    line-height: 10px;
    color: #424242;
  }
  .fileIconConteiner:hover {
    transform: scale(1.04);
  }
  .addFile {
    width: 250px;
    background: #868686;
    animation: appear 0.6s ease-out;
    cursor: pointer;
  }
  .addFile .upperside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .addFile .upperside .fileIconName {
    font-family: "Kadwa";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: hsl(0, 0%, 20%);
    padding-top: 10px;
  }
  .addFile form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 70%;
  }
  .addFile form .submit {
    font-family: "Kadwa";
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    color: #424242;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    outline: 0;
    border-width: 0;
    width: 40%;
    height: 50px;
  }
  .addFile form .submit:focus {
    background: rgba(217, 217, 217, 0.5);
  }
  .addFile form .fileType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    outline: 0;
    border-width: 0;
    width: 70%;
    height: 50px;
    padding-left: 20px;
    font-family: "Kadwa";
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    color: #424242;
  }
  .addFile form .fileType::after {
    content: none !important;
  }
  .addFile form .fileType .dropdown {
    width: 70%;
  }
  .addFile form .fileType .dropdown .btn-secondary.dropdown-toggle {
    width: 70%;
  }
  .addFile form .fileName {
    font-family: "Kadwa";
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    color: #424242;
    border-radius: 20px;
    outline: 0;
    border-width: 0;
    width: 70%;
    height: 50px;
    padding-left: 20px;
  }
  .addFile form .fileName::-moz-placeholder {
    font-family: "Kadwa";
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    color: #424242;
  }
  .addFile form .fileName::placeholder {
    font-family: "Kadwa";
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    color: #424242;
  }
  .heightCont {
    height: 500px;
    width: 100%;
  }
}
.Settings {
  padding: 20px;
  scroll-snap-type: none;
}

.Settings * {
  font-family: "Kadwa";
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  color: #bfbfbf !important;
}
.Settings .hr {
  border: 0;
  height: 5px;
  transform: scaleX(2);
  background-color: #bfbfbf;
  opacity: 50%;
}
.Settings .settingsSection {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.marker::before {
  content: "✔ "; /* Ви можете використовувати будь-який символ або навіть юнікод */
  color: gray; /* Колір маркера */
  font-weight: bold;
}

.passwordChange input[type=password] {
  -webkit-text-security: disc; /* Змінює символи на кружечки */
  font-size: 20px; /* Змінює розмір зірочок або кружечків */
  color: red; /* Змінює колір символів у Safari */
}
.passwordChange input[type=password] .password-input::-moz-placeholder {
  color: red; /* Стиль для тексту-підказки */
}
.passwordChange input[type=password] .password-input::placeholder {
  color: red; /* Стиль для тексту-підказки */
}

.inputpas {
  /* Змінює символи на кружечки */
  font-size: 20px; /* Змінює розмір зірочок або кружечків */
  color: #424242 !important; /* Змінює колір символів у Safari */
}
.inputpas .password-input::-moz-placeholder {
  color: red; /* Стиль для тексту-підказки */
}
.inputpas .password-input::placeholder {
  color: red; /* Стиль для тексту-підказки */
}

.fileConteiner {
  min-height: 100% !important;
  overflow: scroll !important;
}

.loginCenterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.loginCenterDiv .authContteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 60%;
  background-color: #646464;
  padding: 15px;
  border-radius: 50px;
}
.loginCenterDiv .authContteiner .logInCont {
  background-color: gray;
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
.loginCenterDiv .authContteiner .RegistrationCont {
  background-color: gray;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
.loginCenterDiv .authContteiner .Curtain {
  width: 25%;
  position: absolute;
  height: 60%;
  transition: all ease 0.5s;
  background-image: url(../assetModules/bg.png.jpg);
  background-color: #646464;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  overflow: hidden;
}
.loginCenterDiv .authContteiner .Curtain div {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, rgb(128, 128, 128) 45%, rgb(128, 128, 128) 55%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background-size: 200% 100%;
  transform: translateX(-11px) translateY(-11px);
  padding: 10px;
}

.AuthForm {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.AuthForm input {
  background-color: #646464;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
}
.AuthForm input::-moz-placeholder {
  font-family: "Kadwa";
  font-size: 130%;
  font-weight: 700;
  line-height: 10px;
  color: hsl(0, 0%, 20%);
  font-size: 20px;
}
.AuthForm input::placeholder {
  font-family: "Kadwa";
  font-size: 130%;
  font-weight: 700;
  line-height: 10px;
  color: hsl(0, 0%, 20%);
  font-size: 20px;
}

.submit {
  font-family: "Kadwa";
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: #424242;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0;
  border-width: 0;
  width: 40%;
  height: 50px;
}
.submit:focus {
  background: rgba(217, 217, 217, 0.5);
}/*# sourceMappingURL=App.css.map */