@import "./variables";
@import "./404Page";
@import "./svg";
@import "./homePage";
@import "./NavbarInFile";
@import "./notePage";
@import "./todoPage";
@import "./checklistPage";
@import "./tablePage";
@import "./dashboard";
@import "./Settings";
@import "./important";
@import "./Autorisation";
@import "./about";
@import "./diary";

@import "./_homePageoptimized";
@import "./AuthorizationOptimized";

html, body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: none;
}
  
  [lang="uk"] p ,font, span {
    @include textformat(20px, 700, 30px, hsl(0, 0%, 20%));
  }

  [lang="ru"]  font{
    color: rgb(4, 0, 255);

  }
  [lang="ru"]  font:nth-child(2n) {
    color: rgb(218, 247, 0);
  }
  