@charset "UTF-8";
.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.centerDiv * {
  text-align: center;
  color: rgb(211, 211, 211);
}

.penSvg {
  position: relative; /* Необхідно для правильного позиціонування псевдоелемента */
  display: inline-block;
  cursor: pointer; /* Щоб підказка виглядала як інтерактивний елемент */
}

.penSvg::after {
  content: "Edit"; /* Текст підказки */
  position: absolute;
  bottom: 100%; /* Розташовує підказку над SVG */
  left: 50%;
  transform: translateX(-50%); /* Вирівнює підказку по центру */
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap; /* Забезпечує, щоб текст не перетворювався на декілька рядків */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s; /* Плавний перехід */
}

.penSvg:hover::after {
  opacity: 1;
  visibility: visible;
}

.ContainerOfNavbar {
  background-color: #313131;
  height: 100%;
  width: 100%;
  display: flex;
}
.ContainerOfNavbar .verticalNavbar {
  background-color: #313131;
  width: 15%;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}
.ContainerOfNavbar .verticalNavbar .menu {
  padding: 10px;
  height: 50%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
.ContainerOfNavbar .rightSideNavbar {
  width: 85%;
  height: 100%;
}
.ContainerOfNavbar .rightSideNavbar .upperRightNavbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.ContainerOfNavbar .rightSideNavbar .upperRightNavbar .nameOfFile {
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #a6a6a6;
  text-align: center;
}
.ContainerOfNavbar .rightSideNavbar .fileContent {
  font-size: 27px;
  color: #a6a6a6;
  height: 100%;
  border-top-left-radius: 50px;
  background-color: #a6a6a6;
  height: 100%;
  background-color: #1E1E1E;
  padding: 40px;
}

.texarea {
  color: #bfbfbf;
  transition: all ease 1s;
  padding: 20px;
  font-size: 25px;
  resize: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 90%;
  height: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  white-space: pre-wrap;
  outline: none;
  border-width: 0px;
}
.texarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.texarea:focus {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}
.texarea:active {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}
.texarea:disabled {
  border: 0px;
  outline: none;
  resize: none;
  border: 0px;
}

.todo {
  color: #bfbfbf;
  transition: all ease 1s;
  padding: 20px;
  font-size: 25px;
  width: 90%;
  height: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 90%;
  height: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.li * {
  color: #bfbfbf;
  transition: all ease 0.5s;
  font-size: 25px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.li {
  height: 80px;
  padding: 10px;
  color: #bfbfbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divdiv {
  display: flex;
  align-items: center;
  width: 50%;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #bfbfbf;
  border-radius: 50%;
}

.span {
  margin-left: 20px;
}

.checkList {
  padding: 50px;
  color: #bfbfbf;
}

.checkLisList {
  color: #bfbfbf;
}

.caption {
  color: #bfbfbf;
  font-size: 30px;
}

.checkLi {
  color: #bfbfbf;
  font-size: 25px;
}

.spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

* {
  font-size: 20px;
}

.conteiner {
  padding: 20px;
}

.table .talbetextarea {
  height: 50px;
  width: 120px;
  margin: 0px;
  padding: 10%;
}
.table .tableCell {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: center;
  height: 100%;
}
.table .line {
  width: 5px;
  background-color: gray;
  transform-origin: left top;
}

.table * {
  color: #bfbfbf;
  font-size: 25px;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}
.dashboard .clockonConteiner {
  background-color: #acacac;
  display: flex;
  width: 650px;
  height: 300px;
  border-radius: 50px;
  padding: 20px;
  justify-content: space-between;
}
.dashboard .clockonConteiner .clockonConteinerInner {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
.dashboard .clockonConteiner .clockonConteinerInner .clockOn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  background-color: #313131;
  height: 200px;
  width: 200px;
  color: #acacac;
}
.dashboard .clockonConteiner .clockonConteinerInner .schedule {
  display: flex;
  width: 320px;
  height: 70%;
  border-radius: 20px;
  background-color: #313131;
}
.dashboard .clockonConteiner .clockonConteinerInner .name {
  font-family: "Kadwa";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #313131;
}

.fsb {
  display: flex;
  justify-content: space-between;
}

.fcsb {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fe {
  display: flex;
  justify-content: flex-end;
}

* {
  color: hsl(0, 0%, 20%);
  font-family: "Kadwa";
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.homePageNavbarConteiner {
  overflow: hidden;
  display: flex;
}
.homePageNavbarConteiner .leftHomePageNavbar {
  width: 15%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile {
  width: 100%;
  background-color: rgba(217, 217, 217, 0.5019607843);
  padding-top: 30px;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileImgConteiner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileImgConteiner .profileImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  background-color: #424242;
  overflow: hidden;
}
.homePageNavbarConteiner .leftHomePageNavbar .profile .profileEmail {
  width: 100%;
  left: -1px;
  top: 176px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: 0px;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgba(217, 217, 217, 0.5019607843);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles {
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 400px;
  width: 100%;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 150%;
  background-image: url(../assetModules/svgs/penAndLineSvg.svg);
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .activeNav {
  transition: all ease 0.5s;
  text-decoration: none;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .activeNav .FileInNavbar {
  background-color: #b96363;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .activeNav .FileInNavbar p {
  color: #a6a6a6;
  text-decoration: none;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .inactiveNav {
  text-decoration: none;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .inactiveNav .FileInNavbar p {
  text-decoration: none;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .FileInNavbar {
  box-sizing: border-box;
  border-top: #cfcfcf 5px solid;
  border-bottom: #cfcfcf 5px solid;
  background-color: rgba(160, 160, 160, 0.6980392157);
  height: 100px;
  width: 100%;
  padding-left: 15%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfFiles .FileInNavbar .textInFileInNavbar {
  font-size: 25px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #424242;
}
.homePageNavbarConteiner .leftHomePageNavbar .scrollpanel .listOfSettings {
  background-image: url(../assetModules/svgs/gearSvg.svg);
  width: 100%;
  background-size: 130%;
  background-position: right top;
  min-height: 350px;
  background-repeat: no-repeat;
}
.homePageNavbarConteiner .rightHomePage {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg {
  overflow: auto;
  height: 100%;
  display: flex;
  background-color: rgba(217, 217, 217, 0.5019607843);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll {
  overflow-y: auto;
  width: 100%;
  border-top-left-radius: 50px;
  background-color: #1e1e1e;
  overflow: auto;
  height: 100%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles {
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 180px);
  gap: 60px;
  padding: 3% 12% 5% 3%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 89%;
  border-top-left-radius: 50px;
  background-color: #1e1e1e;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 180.4px;
  width: 220px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s all ease;
  animation: appear 0.6s ease-out;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner:hover {
  transform: scale(1.1);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner .fileIconName {
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  font-family: "Kadwa";
  font-weight: 700;
  color: hsl(0, 0%, 20%);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner .fileIconType {
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .fileIconConteiner:hover {
  transform: scale(1.04);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile {
  background: rgba(217, 217, 217, 0.5019607843);
  animation: appear 0.6s ease-out;
  cursor: pointer;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile .upperside {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .submit {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0px;
  border-width: 0px;
  width: 40%;
  height: 50px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
  color: #757575;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .submit:focus {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0px;
  border-width: 0px;
  width: 40%;
  height: 50px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
  color: #757575;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType {
  background-image: url("../assetModules/svgs/arrow.svg");
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0px;
  border-width: 0px;
  width: 70%;
  height: 50px;
  padding-left: 20px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
  color: #757575;
  display: flex;
  justify-content: space-between;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType * {
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
  color: #757575;
  display: flex;
  align-items: center;
  height: 100%;
  background: rgba(217, 217, 217, 0.5);
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType::after {
  content: none !important;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType .dropdown {
  width: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileType .dropdown .btn-secondary dropdown-toggle {
  width: 70%;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  outline: 0px;
  border-width: 0px;
  width: 70%;
  height: 50px;
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
  padding-left: 20px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName::-moz-placeholder {
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
}
.homePageNavbarConteiner .rightHomePage .desktopWithFilesbgbg .scroll .desktopWithFiles .addFile form .fileName::placeholder {
  font-family: "Kadwa";
  font-weight: 700;
  font-size: 27px;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 80px;
  background-color: rgba(217, 217, 217, 0.5019607843);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar .upperRightRightsectionHomePageNavbar {
  padding-right: 10px;
  transition: all ease 1s;
  display: flex;
  width: 450px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.homePageNavbarConteiner .rightHomePage .upperRightHomePageNavbar .upperRightRightsectionHomePageNavbar div {
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Name {
  font-size: 30px;
  text-decoration: none;
}

.selectCircle {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid rgb(46, 46, 46) 7px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease 0.2s;
  color: #7c7c7c;
  font-weight: 700;
  font-size: 30px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}/*# sourceMappingURL=App.css.map */